.navbar-brand img{
	width: 130px;
	margin-top: -5px;
}
.portfolio__img img:hover, .portfolio__img img:focus {
	-webkit-transform: rotate(0deg) scale(1.1, 1.1);
	-ms-transform: rotate(0deg) scale(1.1, 1.1);
	transform: rotate(0deg) scale(1.1, 1.1);
}
#article_info{
	font-size: 13pt;
}
#tree span.features__intro{
	font-size: 16px;
}
/* FF fix */
a:active, a:focus {
    outline: none !important;
}
/* Fixed tabs an admin panel */
.nav-tabs {
    border-radius: 3px 3px 0 0;
    box-shadow: none;
    border: 1px solid #ccc;
}
.nav-tabs li.active {
    box-shadow: 0 2px 0 #fff;
}
.tab-content {
    border: 1px solid #ccc;
    overflow: hidden;
    padding: 5px 20px;
    border-top: none;
    border-radius: 0 0 3px 3px;
}